<header>
    <h1 class="notification is-primary is-size-4">プリコンパイルと each関数の利用</h1>
    <nav class="tabs is-boxed tabsX">
        <ul>
            <li class="is-active" data-target="product-details">
            <a>Sitemap</a>
            </li>
            <li data-target="delivery-information">
            <a href="#0">Copyright</a>
            </li>
            <li data-target="delivery-support">
            <a href="#0">Support</a>
            </li>
            <li data-target="delivery-jobs"><a href="#0">Jobs</a></li>
        </ul>
    </nav>

    <div class="px-6" id="tab-content">
    <div id="product-details">
        <h3 class="is-size-5 title">A: Product Details</h3>
        <p>
        1. プリコンパイル<br>
        handlebars header.handlebars -f header.precompiled.js<br>
        コンパイルデータの読込み<br>
        &lt;script type="text/javascript" src="header.precompiled.js" ><br>
        データの '#target_h'への表示<br>
        （ここでは、コンテキストデータv はdummy）<br>
        $$d_qPreT('header', v, '#target_h');<br>
        </p>
    </div>
    <div id="delivery-information" class="is-hidden">
        <h3 class="is-size-5 title">B: by Jonas Duri</h3>
        <p>
        2. <span class='has-text-primary has-text-weight-medium'>~~~ Jonas Duri ~~~</span>"<br>
         出典：<a href="https://medium.com/@jonas_duri/build-a-landing-page-with-webpack-4-6efe83deb7fe">BUILD-A-LANDING-PAGE</a><br><br>
         https://medium.com/@jonas_duri
        </p>
    </div>
    <div id="delivery-support" class="is-hidden">
        <h3 class="is-size-5 title">C: Delivery support</h3>
        <p>
        3. Lorem 33333333333333333333333333333333 33333333333.
        </p>
    </div>
    <div id="delivery-jobs" class="is-hidden">
        <h3 class="is-size-5 title">D: Delivery jobs</h3>
        <p>
        4. Lorem 4444444444444444444444444444444444444444 44444444.
        </p>
    </div>
    </div>

    <hr />

</header>