<section class="newsletter">
    <div class="form">
        <h2 style="padding: 10px;" class="subtitle has-text-weight-bold has-background-success-light">
            Sign-up for the newsletter
        </h2>
        <div class="control has-icons-left">
            <input
                type="text"
                class="input is-medium"
                placeholder="your@email.com"
            />
            <span class="icon is-left">
                <i class="fas fa-envelope"></i>
            </span>
            <button type="submit" class="button is-info mt-3">Sign-Up</button>
        </div>
    </div>
    <hr>
</section>